@import '../../components/pavan/PavanFeature.css';

.pavan-feats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 900px) {
  .pavan-feats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .pavan-feats-grid {
    grid-template-columns: 1fr;
  }
}
